* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #557C56;
}



.title {
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

h1 {
    font-size: 5rem;
    color: #33372C;
    text-align: center;
    margin-top: 20px;
}

h2 {
    color: #33372C;
    text-align: center;
    margin-bottom: 20px;
}

#flex {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#form {
    font-size: 2rem;
    border-radius: 5px;
    background-color: #FF885B;
    border: none;
    color: #FFE5CF;
    padding: 5px;
    font-family: serif;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#form:hover, #close:hover, #cancel-btn:hover, #discard-btn:hover, .btn:hover {
    cursor: pointer;
    background-color: #825B32;
}

#rating {
  font-size: 1.2rem;
  padding: 5px;
}

.bookshelf {
    height: 40vh;
}

#addBook {
    width: 50vw;
}

#myModal {
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100vw; 
    height: 100vh; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
  }
  
  .hidden {
    display: none;
  }

  .library {
    display: flex;
    align-items: center;
    gap: 10px;
    color:#33372C;
    font-size: 1.5vw;
    padding-bottom: 5px;
  }

  .btn {
    padding: 5px;
    background-color: #FF885B;
    color:#FFE5CF;
    border: none;
  }

  #close {
    background-color: #FF885B;
    color:#FFE5CF;
    border: none;
    padding: 5px;
    font-size: 1.5vw;
    position: absolute;
    right: 10px;
    top: 10px;
  }

  #confirm-close-dialog {
    margin: auto;
    padding: 20px;
  }

  .confirm-close-dialog-btn-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }

 .discard-message-text {
  font-size: 1.2vw;
  margin-bottom: 5px;
 }
 
  .modal-content {
    position: relative;
    background-color: #FFE5CF;
    margin: 5% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 50vw; 
  }

  label {
    font-size: 2vw;
    color: #33372C;
  }

  input {
    height: 30px;
  }

  input[type="number"] {
    width: 5vw;
  }

  #submit {
    font-size: 1.5rem;
    font-family: serif;
    padding: 10px;
    background-color:#FF885B;
    color:#FFE5CF;
    border: none;
    margin-top: 30px;
    border-radius: 5px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  }

  #submit:hover {
    cursor: pointer;
    background-color: #825B32;
}

  .flex-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }


  h3 {
    text-align: center;
    font-size: 2rem;
    color: #33372C
  }


  @media (max-width: 650px) {
    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 1.2rem;
    }

    #addBook {
        width: 90vw;
    }

    .bookshelf {
     height: 30vw;
    
    }

    .modal-content {
        width: 80vw;
    }

    label {
        font-size: 4vw;
    }

    input[type="number"] {
        width: 8vw;
    }

    .title {
      width: 70vw;
    }
  }


